{{#partial "content"}}

    <h1 style="text-align:center; font-weight:bolder;">Lion Bar Restaurant</h1>
    <hr>

    <div class="button">
        <a class="btn btn-primary" href="/stock">Enregistrer les produits à stocker</a>
    </div>

    <div class="button">
        <a class="btn btn-primary" href="/stocks">Les Produits enregistrer</a>
    </div>


{{/partial}}

{{>layout.hbs}}