{{#partial "content"}}


    <h1 style="text-align:center; font-weight:bolder; padding-top:20%; padding-bottom:20%; padding-right:20% padding-left:30%;"><img src="https://www.freeiconspng.com/uploads/lion-head-png-9.png" width="150px " height="150px">Welcome to Lion Bar Restaurant System</h1>
{{/partial}}

{{>layout.hbs}}